apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.Release.Name}}-drupal-config
  namespace: {{.Release.Namespace}}
data:

  install_params.yaml: |
    --db-url="mysql://rod:rod@{{.Release.Name}}-drupal-mysql-service:3306/drupal-database"
    --site-name="{{ .Values.siteName }}"
    --locale='en'
    --account-name='admin'
    --account-pass={{ .Values.accountPass | quote }}
  dsettings.sh: | 
    #!/bin/bash
    vim ./web/sites/default/settings.php
